.filter{
    width: 98%;
    height: 80px;
    padding-top: 10px;
    padding-left: 8px;
    background-color: rgb(43, 43, 43);
}

.input_magrin{
    margin-top: 10px;
}

.range{
    margin-left: 8px;
}