.input{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border-style: inset;
    border-color:rgb(167, 167, 167);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 8px;
}