.canvas
{
    background-color: #FFFAFA;
    width: 1100px;
    height: 420px;  
    z-index: 0;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%)
}